body {
    margin: 0;
    min-height: 100vh;

}

.main_frame {
    background-color: rgb(174, 245, 245);
    height: 110px;
    justify-items: center;
    align-content: center;

}

.main {
    display: grid;
    margin: 8px;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    column-gap: 3%;
    row-gap: 28px;
    padding: 5px 20px 30px;
    background-color: #FBEFEF;
}

.letter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: x-large;
}

.letter-Box-Main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* top/bottom 20px, centered horizontally */
}

.letter-display {
    font-size: 300px;
}
.Word-display {
    font-size: 40px;
}
.letter-box {
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 20px 40px ;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.nav-buttons{
    color: aliceblue;
    border-radius: 8px;
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin: 20px auto;
}
.nav-but{
background-color: blueviolet;
    color: aliceblue;
}
.arrow{
    width: 200px;
    height: 200px;
}
.word-box{   
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 70px auto auto auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: medium;
    flex-direction: column;
}

.wordimage{
    width: 200px;
    height: 200px;
margin: 5px;
}
.categories-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px auto;
}
.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px ;
}
